@page "/"
@inject NavigationManager Navigation
@inject NavigationManager NavManager
<link href="css/login.css" rel="stylesheet" />

<div class="register-container">
    <div class="register-left">
        <div class="register-form-container">
            <h2 class="fw-bold mb-2">Login</h2>
            <p class="mb-4">Please sign in with your username and password.</p>

            <form class="mb-1 mt-md-4" @onsubmit="LoginHandler">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" @bind="Username" placeholder="Enter your username" />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" @bind="Password" placeholder="*******"/>
                </div>

                @if (!string.IsNullOrEmpty(_errorMessage))
                {
                    <ErrorMessage Type="danger" Message="@_errorMessage" />
                }

                <div class="mt-4 d-grid">
                    <button type="submit" class="btn-submit">
                        Login
                    </button>
                </div>
            </form>

            <div class="mt-3 text-center">
                <p>Don't have an account? <a href="javascript:void(0);" @onclick="NavigateToRegister">Register</a></p>
            </div>
        </div>
    </div>

    <div class="register-right">
        <div class="welcome-text">
            <h2>Welcome Back to SmartFlow</h2>
            <p>Manage your tasks and projects efficiently with SmartFlow.</p>
        </div>
    </div>
</div>


@code {
    
}